<?xml version="1.0"?>
<config>

    <modules>
        <Humm_Payments>
            <version>2.0.0</version>
        </Humm_Payments>
    </modules>

    <global>
        <models>
            <humm_payments>
                <class>Humm_Payments_Model</class>
            </humm_payments>
        </models>
        <blocks>
            <humm_payments>
                <class>Humm_Payments_Block</class>
            </humm_payments>
        </blocks>
        <helpers>
            <humm_payments>
                <class>Humm_Payments_Helper</class>
            </humm_payments>
        </helpers>
        <resources>
            <humm_payments_setup>
                <setup>
                    <module>Humm_Payments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </humm_payments_setup>
        </resources>
    </global>

    <frontend>
        <secure_url>
            <humm_payments_checkout>/humm_payments/checkout</humm_payments_checkout>
        </secure_url>
        <routers>
            <humm_payments>
                <use>standard</use>
                <args>
                    <module>Humm_Payments</module>
                    <frontName>humm_payments</frontName>
                </args>
            </humm_payments>
        </routers>
        <layout>
            <updates>
                <humm_payments>
                    <file>humm/payment.xml</file>
                </humm_payments>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Humm_Payment.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <humm_payments_system_config_load>
                        <class>humm_payments/adminhtml_observer</class>
                        <method>loadConfig</method>
                    </humm_payments_system_config_load>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>

    <default>
        <payment>
            <humm_payments>
                <active>1</active>
                <title>Humm payments </title>
                <model>humm_payments/Paymentmethod</model>
                <environment>sandbox</environment>
                <order_status>processing</order_status>
                <sort_order>1</sort_order>
                <country_currency>
                    <allow_specific_countries>1</allow_specific_countries>
                    <specific_countries>AU</specific_countries>
                    <allowed_currencies>AUD</allowed_currencies>
                </country_currency>
                <debug>
                    <enabled>1</enabled>
                    <log_level>6</log_level>
                    <log_file>humm_payments.log</log_file>
                </debug>
                <admin_notification>
                    <enabled>1</enabled>
                </admin_notification>
                <widgets>
                    <debug>0</debug>
                    <home_page>
                        <banner>
                            <enabled>1</enabled>
                            <selector>#header-nav</selector>
                        </banner>
                    </home_page>
                    <product_page>
                        <banner>
                            <enabled>0</enabled>
                            <selector>#header-nav</selector>
                        </banner>
                        <tagline>
                            <enabled>0</enabled>
                            <selector>.product-shop .product-options-bottom</selector>
                        </tagline>
                        <widget>
                            <enabled>1</enabled>
                            <selector>.product-shop .product-options-bottom</selector>
                        </widget>
                    </product_page>
                    <category_page>
                        <banner>
                            <enabled>1</enabled>
                            <selector>#header-nav</selector>
                        </banner>
                    </category_page>
                    <cart_page>
                        <banner>
                            <enabled>0</enabled>
                            <selector>#header-nav</selector>
                        </banner>
                        <tagline>
                            <enabled>0</enabled>
                            <selector>.checkout-types.bottom</selector>
                        </tagline>
                        <widget>
                            <enabled>1</enabled>
                            <selector>.checkout-types.bottom</selector>
                        </widget>
                    </cart_page>
                    <checkout_page>
                        <banner>
                            <enabled>1</enabled>
                            <selector>#header-nav</selector>
                        </banner>
                    </checkout_page>
                </widgets>
            </humm_payments>
        </payment>
    </default>

    <custom>
        <payment>
            <humm_payments>
                 <logo>https://www.shophumm.com.au//sites/default/files/humm-logo.png</logo>
                <portal>
                    <sandbox></sandbox>
                    <production></production>
                </portal>
                <checkout>
                    <error>
                        <general>Something went wrong. Please try to checkout out again</general>
                    </error>
                    <failure>
                        <heading>Something went wrong. Please try to checkout out again</heading>
                        <content><![CDATA[Please contact the merchant Humm Help Center</a> for any enquiries]]></content>
                    </failure>
                </checkout>
                <country_currency>
                    <supported_countries>AU,NZ</supported_countries>
                    <supported_currencies>AUD,NZD</supported_currencies>
                </country_currency>
                <api>
                    <timeout>0</timeout>
                </api>
                <debug>
                    <log_private_data_keys>ACCT,EXPDATE,CVV2,CARDISSUE,CARDSTART,CREDITCARDTYPE,USER,PWD,SIGNATURE</log_private_data_keys>
                </debug>
                <widgets>
                    <enabled>1</enabled>
                    <js_lib></js_lib>
                </widgets>
            </humm_payments>
        </payment>
    </custom>

</config>
